<section>
    <br><br>
    <div class="container mt-5">

        <h3 class="mt-5">All Stores</h3>

        <div class="row">
            {{#each shops}}
            <div class="col-md-3 mb-4">
                <a href="/shop/details/{{this.name}}" class="no-underline">
                    <div class="card shadow rounded">
                        <img src="{{this.logo}}" class="card-img-top" alt="Image 1">
                        <div class="card-body" style="background-color: #eaeaea;">
                            <h5 class="card-title">{{this.name}}</h5>
                            <a href="/offers" class="btn btn-dark btn-sm rounded w-100 mt-3">View Offers</a>

                        </div>
                </a>
            </div>
        </div>
        {{/each}}

    </div>
    </div>
</section>

<style>
    #header .logo {
        overflow: hidden;
        padding: 16px 30px 12px 30px;
        background: #009970;
        border-radius: 50px;
    }

    #header .header-container {
        background: #ffffff;
        border-radius: 21px;
    }

    .no-underline {
        text-decoration: none;
        /* Remove underline */
        color: #333;
        /* Set the desired text color */
    }
</style>