<section>
    <div class="container mt-5">
        
             <h1>All Shop Offers</h1>
      
        <div class="row">
             {{#each offerShops}}
             <div class="col-md-2">
                <a href="/shopOffersDetalis/{{this._id}}" class="no-underline">
                <div class="card" id="{{this.id}}" >
                    <img src="{{this.logo}}" class="card-img-top" alt="Image 1">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                    </div>
                </div>
                </a>
            </div>
            {{/each}}
            
        </div>
    </div>
</section>

<script>
    function cardClick(shopId) {
        console.log(shopId)

         $.ajax({
            url: "/add-to-cart/" + productId,
            method: "get",
            success: (response) => {
                if (response.status) {
                    let count = $("#cart-count").html();
                    count = parseInt(count) + 1;
                    $("#cart-count").html(count);
                }
            },
        });
    }
</script>
<style>
     .no-underline {
    text-decoration: none; /* Remove underline */
    color: #333; /* Set the desired text color */
  }
</style>