<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<style>
    /* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.google-homepage {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.google-logo {
    max-width: 150px;
}


.lucky-button {
    background-color: #0f9d58;
}

</style>
<body>
    <div class="google-homepage">
        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_light_color_92x30dp.png" alt="Google Logo" class="google-logo">
        
    </div>
</body>
</html>
